<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiend.photo.mapper.OrderMapper">
    <!-- OrderMapper.xml -->
    <insert id="insertOrder" parameterType="com.zhiend.photo.entity.Order">
        INSERT INTO `order` (user_id, photo_id, amount, order_time, payment_status, operation)
        VALUES (#{userId}, #{photoId}, #{amount}, #{orderTime}, #{paymentStatus}, #{operation})
    </insert>
</mapper>
